In [11]:
import numpy as np
import pandas as pd
from IPython.display import display
from sklearn.tree import DecisionTreeClassifier

In [12]:
x = np.array([[3, 7], [9, 8], [3, 7], [2, 9], [3, 7]])
y = np.array([1, 0, 1, 0, 1])

df = pd.DataFrame(x, columns=['x1', 'x2'])
df = df.assign(y=y)

display(df)

# Buat Fungsi Distance

distance = lambda x1, x2: np.sqrt(np.sum((x1 - x2) ** 2))

df_distance = pd.DataFrame([[distance(x1, x2) for x2 in x] for x1 in x], columns=df.index, index=df.index)
df_distance = df_distance.assign(x1=df.x1)
df_distance = df_distance.assign(x2=df.x2)
df_distance = df_distance.assign(y=df.y)

display(df_distance)

# Buat Fungsi Menghitung KNN

knn = lambda x, y, x_test, k: np.bincount(y[np.argsort([distance(x_test, x_i) for x_i in x])[:k]]).argmax()


# Buat Fungsi Prediksi

prediksi = lambda x, y, x_test, k: np.array([knn(x, y, x_test_i, k) for x_test_i in x_test])

df['y_pred'] = prediksi(x, y, x, 3)


display(df)

   x1  x2  y
0   3   7  1
1   9   8  0
2   3   7  1
3   2   9  0
4   3   7  1

          0         1         2         3         4  x1  x2  y
0  0.000000  6.082763  0.000000  2.236068  0.000000   3   7  1
1  6.082763  0.000000  6.082763  7.071068  6.082763   9   8  0
2  0.000000  6.082763  0.000000  2.236068  0.000000   3   7  1
3  2.236068  7.071068  2.236068  0.000000  2.236068   2   9  0
4  0.000000  6.082763  0.000000  2.236068  0.000000   3   7  1

   x1  x2  y  y_pred
0   3   7  1       1
1   9   8  0       1
2   3   7  1       1
3   2   9  0       1
4   3   7  1       1

In [13]:
decision_tree = DecisionTreeClassifier()
decision_tree.fit(x, y)
decision_tree.predict(x)
df['y_pred_dt'] = decision_tree.predict(x)
df

   x1  x2  y  y_pred  y_pred_dt
0   3   7  1       1          1
1   9   8  0       1          0
2   3   7  1       1          1
3   2   9  0       1          0
4   3   7  1       1          1

In [14]:
make_5_random_points_0_to_1 = lambda: np.random.rand(5, 1)
make_5_random_points_0_to_1()

array([[0.26818731],
       [0.31815043],
       [0.15235234],
       [0.77484304],
       [0.25684044]])